@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-light">Bank AB @ViewData["Title"]</h1>
<p class="text-light">In connection with the processing of your personal data, you have certain statutory rights. You are entitled to find out whether Swedbank is processing your personal data and, if this is the case, to obtain a copy of your data and information about personal data processing (i.e. a register extract). You are also entitled, in some cases, to have incorrect data corrected, deleted or electronically transmitted. You are also entitled to object to the data processing and to request us to restrict the processing of your personal data.

    If you wish to find out what data Bank AB has about you, click on the link “How to order a register extract” (at the bottom of this text) and follow the instructions provided. We will reply to you as soon as possible, but within a month at the latest.
    If you have any questions about the processing of your personal data, or wish to exercise any of your rights, e.g. if you wish to request a register extract; request the correction, deletion and/or removal of your personal data; or object to the processing of your personal data or request its limitation, you are welcome to contact us by using the following contact details:
    Web: You can easily and securely send messages to us by visiting bankmelvinab.com and logging in to the Internet Bank. Go to Messages and select the topic “GDPR - Request”

    Remember that you can see the majority of the personal data we process about you by logging into the Internet Bank or in the app.
    Some processing of personal data requires us to have your approval, i.e. consent.
    You have the opportunity to personally decide the extent to which you want us to use your data, e.g., if you approve of our using your data for direct marketing or for providing you with personal offers.
</p>

<h3 class="text-light">Your personal data</h3>
<p class="text-light"> Helps us to help you
    Your personal data is utilised so that you can use our products and services in a safe and easy way. With your personal data it is possible for us to understand your needs better, give you faster service and offer you services that are adapted for you.
    </p>
    <h3 class="text-light">Your personal data</h3>
    <p class="text-light"> Is safe with us Bank AB processes your personal data in a correct manner. Customer data is protected by bank secrecy and is handled confidentially.

        We are simple and clear about how we manage your personal data
        You have the right to know what personal data we process and for what purpose. You can change parts of your data, give your consent and make choices using internet banking or the app, or by going into your branch or by calling the bank’s Customer Centre.
    </p>


