@page
@model BankStartWeb.Pages.Bank.Transactions.TransactionsModel
@{
}

<table class="table" id="posts-table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Operation</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Balance</th>
    </tr>
    </thead>
    
    <tbody>
    </tbody>

</table>

<a class="btn" href="javascript:fetchMore();">See more...</a>

@*@* <--- Ajax method ---> *@
@section Scripts
{
    <script>
        pageNo = 1;

        function fetchMore() {
            fetch("Transactions?handler=FetchMore&pageNo=" + pageNo + "&accountId=@Model.Id")
                .then((response) => response.json())
                .then((json) => {
                        pageNo = pageNo + 1;
                        json.items.forEach(tableElements);

                        console.log(json);
                    }
                );
        }

        function tableElements(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
        <td>${element.id}</td>
        <td>${element.type}</td>
        <td>${element.operation}</td>
        <td>${element.date}</td>
        <td>${element.amount}</td>
        <td>${element.newBalance}</td>
        
    </tr>`;
        }

        document.addEventListener("DOMContentLoaded",
            function() {
                fetchMore();
            });


    </script>

}
    